.profile {
    margin: 0 auto;
    display: flex;
    width: 90%;
    padding: 40px;
    justify-content: space-between;
}

.profile .aside {
    width: 25%;
    text-align: center;
}

.profile .aside .btns {
    display: flex;
}

.profile .aside .avater__card {
    background: white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 22px;
    height: 245px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avater__card .avater {
    background: gainsboro;
    width: 50%;
    height: 50%;
    border-radius: 50%;
    position: relative;
}

.avater__card .avater img {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 60%;
}

.avater__card .name {
    padding-top: 20px;
}

.profile .main {
    width: 78%;
}

@media only screen and (max-width: 1200px) {
    .profile {
        width: 95%;
        padding: 40px 0;
    }
}

@media only screen and (max-width: 920px) {
    .profile {
        flex-direction: column;
        align-items: center;
    }
    .profile .aside {
        width: 300px;
        margin-bottom: 20px;
    }
    .profile .main {
        width: 95%;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 23px !important;
    }
}