.profile .main .grid {
    width: 99%;
    height: 240px;
    background: white;
    margin: 5px 5px;
    border-radius: 5px;
    display: flex;
}

.main .grid .grid__image {
    width: 25%;
}

.grid__image img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
}

.main .grid .grid__description {
    width: 75%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}

.grid__description .text {
    height: 85%;
    border-bottom: 1px solid gainsboro;
}

.grid__description .text li strong {
    color: #092467;
}

.grid__description .text ul {
    list-style-type: none;
    padding: 0 5px;
}

.grid__description .text li .price {
    color: red;
}

.grid__description .actions {
    height: 15%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.grid__description .actions a {
    color: #092467;
}

.grid__description .actions .sold {
    color: red !important;
}

@media only screen and (max-width: 920px) {
    .profile .main .grid {
        flex-direction: column;
        height: inherit;
        padding-bottom: 15px;
    }
    .profile .main .grid .grid__image {
        width: 100%;
    }
    .main .grid .grid__description {
        width: 100%;
        padding: 0;
        align-items: center;
    }
    .main .grid .grid__description .text {
        width: 80%;
        font-size: 17px !important;
    }
    .main .grid .grid__description .actions {
        padding-top: 15px;
    }
    .main .grid .grid__description .text .title {
        text-align: center;
    }
    .main .grid .grid__description .actions a {
        margin: 0 10px;
    }
}

@media only screen and (max-width: 320px) {
    .main .grid .grid__description .actions a {
        margin: 0 20px;
    }
    .main .grid .grid__description .actions :nth-child(2), .main .grid .grid__description .actions :nth-child(3) {
        display: none;
    }
}