.search__sort {
    width: 100%;
    display: flex;
    padding: 40px 0;
}

.search__sort .search {
    width: 20%
}

.search__sort .state__make {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-grow: 1
}

.search__sort .state__make .state, .search__sort .state__make .make {
    flex-grow: 1;
}

.search__sort .price__filter {
    width: 40%;
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.search__sort .price__filter .price, .search__sort .price__filter .go {
    flex-grow: 1;
}

.search__sort .search {
    width: 40%;
    text-align: center;
}

.search__sort .price, .search__sort .make, .search__sort .state, .search__sort .go {
    width: 15%;
    text-align: center;
}

.search__sort input[type="text"], .search__sort select, .search__sort button {
    width: 85%;
    height: 40px;
    border: 1px solid #092467;
    margin-top: 5px;
    margin-bottom: 13px;
    padding-left: 10px;
    border-radius: 2px;
    font-size: inherit;
    transition: all 0.2s;
    color: #092467;
}

.search__sort select {
    height: 45px;
}

.search__sort button {
    background: #092467;
    border-radius: 6px;
    color: white;
    height: 45px;
}

@media screen and (max-width: 768px) {
    .search__sort {
        flex-direction: column
    }
    .search__sort .search {
        width: 100%;
    }
    .search__sort .state__make {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .search__sort .state__make .state, .search__sort .state__make .make {
        flex-grow: 1;
    }
    .search__sort .price__filter {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .search__sort .price__filter .price .search__sort .price__filter .filter {
        flex-grow: 1;
    }
    .search__sort input[type="text"], .search__sort select, .search__sort button {
        width: 90%
    }
    .search__sort .price, .search__sort .make, .search__sort .state, .search__sort .go {
        width: 95%;
    }
}